<h2>Login</h2>
<form action="/loginsuccess" method="POST">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="email" name="email" class="form-control" />
    <label class="form-label" for="form2Example1">E-mail</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="pass" name="pass" class="form-control" />
    <label class="form-label" for="form2Example2">Senha</label>
  </div>
  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Entrar</button>

</form>