<h1>Lista de usuários cadastrados:</h1>

{{#each dados}}
<div class="card">
    <div class="card-body">
        <h4>Email: {{email}}</h4>
        <small>Senha: {{pass}}</small><br>
        <a href='users/searchUser/edit/{{this.id}}'><button class="btn btn-success">Editar Usuário</button></a>
    </div>
</div>
{{else}}

{{/each}}