<h1>Lista de usuários cadastrados:</h1>

{{#each dados}}
<div class="card">
    <div class="card-body">
        <h4>{{email}}</h4>
        {{#each dados2}}
        <h4>cpf</h4>
        {{else}}

        {{/each}}
    </div>
</div>
{{else}}

{{/each}}